* {
  @apply m-auto;
  box-sizing: border-box;
}

body {
  @apply bg-blue-300 text-white font-normal;
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
p,
li,
small,
address,
span {
  cursor: default;
}

a,
label {
  text-decoration: none;
  color: #838383;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

button {
  -webkit-tap-highlight-color: transparent;
}
